$font-color: #1e272e;
$font-color-inactive: #8c9398;
$background-color: #f2e1d9;
$footer-color: #1d2547;
$logo-color: #fd8f5f;
$logo-border-color: white;

$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
